body{
background-color:#000000;
}
h1{
	font-family:'Raleway',bold;
	color:white;
}
input{
	font-family:'Raleway',regular;
}

.login-header{
	margin-top:100px;
	font-family:'PacFont',regular;
	color:white;
	text-align:center;
}
#signup-button{
	color:white;
	font-family:'Raleway',regular;
}
.login-btn{
	font-family:'PacFont',regular;
	font-size:30px;
	
	text-align: center;
	background-color:#FEE148;
	color:black;
}
.navbar-brand{
color:#ffffff;
text-shadow:
		-0.5px -0.5px 0 #000,
		0.5px -0.5px 0 #000,
		-0.5px 0.5px 0 #000,
		0.5px 0.5px 0 #000;
font-family: 'PacFont', regular;


}
.enlarged{
	width:100px;
	border-radius: 50%;
	text-align:center;
}
.nav-link{
	color:#ffffff;
	font-family:'Raleway',bold;
}
.nav-link:hover{
	color:#FEE148;
}
.navbar-brand:hover{
	color:#FEE148;
}
.navbar-custom{
	outline:1px solid white;
	margin-bottom:25px;
}
.profpic{
	width:50px;
	margin-right:20px;
	position:relative;
	top:-10px;
	border-radius: 50%;
}
.user{
	margin-top:40px;
}
.username{
	margin-right:10px;
}
.prof{
	text-align:center;
}
.red{
	background-color:red;
	stroke:none;
	color:white;
}
.white{
	color:white;
}
.mid{
	text-align:center
}
.green{
	color:green;
}
.red_text{
	color:red;
}
.hidden{
	visibility:hidden;
}
#pacman {
	height: 470px;
	width: 382px;
	border-radius: 5px;
	margin: 20px auto;
  }
#result{
	display:none;
}
.icon{
	margin-left:35px;
}
.userrow{
	margin-top:20px;
}
.fas{
	border:none;
	background-color:black;
}
#score{
	display:none;
}
#opponent{
	display:none;
}
.nobackground{
	background:none;
	border:none;
}
#messagebox{
	position:absolute;
	bottom:20px;
	width:500px;
}
.nod{
	display:none;
}
.outgoing_message{
	text-align: right;
	color:blue;
}
.incoming_message{
	text-align: left;
	color:white;
}
.endchat{
	position:absolute;
	bottom:0;
}